@import 'https://fonts.googleapis.com/css?family=Raleway';

body {
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: #335D7E;
}

h1 {
    padding: 10px 0 10px;
    width: 1100px;
    border-bottom: 1px solid white;
}

#container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

ul {
    margin-top: -10px;
}

li {
    list-style: none;
    font-size: 1.5em;
    padding: 5px;
    left: -40px; 
}

input, label {
    font-size: 1em;
    padding-right: 4px;
}

input {
    border-radius: 2px;
    border: 1px solid gray;
    padding: 4px;
    background-color: white;
    margin: 0;
}

span + span {
    margin-left: 10px;
}

.error {
    border: 1px solid red;
    outline-offset: 1px;
}

label {
   margin-right: 20px;
}

#submit-contact {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding: 16px;
	text-decoration:none;

    
}
#submit-contact:hover {
	background-color: lightgrey;
}
#submit-contact{
    position: relative;
    bottom: 30px;   
}

.input{
    display: inline-block;
    width: 20%;
}

.first-name-error-text, .last-name-error-text, .phone-error-text, .email-error-text {
    color: red;
    visibility: hidden;
    margin-top: 5px;
}

a:hover, i:hover {
    color: #44c767;
    cursor: pointer;
}

a {
    color: white;
}

.send_email_container {
    position: relative;
    display: inline-block;
}

.email_text, .send_email_container {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
}

.send_email_container:hover, .email_text:hover {
    visibility: visible;
}
